.contact_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/images/contact_image.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.contact_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.contact_title {
    padding-bottom: 1em;
}

.contact_subtitle {
    text-align: start;
    margin-bottom: 1em;
}

.contact_box {
    background-color: #F8F0DE;
    color: #231F20;
    width: 70%;
    height: 70%;
    padding: 2em 10em 2em 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}