.contact_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/images/contact_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.contact_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 10rem 0 10rem 0;
}

.contact_title {
    padding-bottom: 1em;
    font-size: 2.5vw;
}

.contact_subtitle {
    text-align: start;
    margin-bottom: 1em;
    font-size: 1.5vw;
}

.contact_box {
    background-color: #F8F0DE;
    color: #231F20;
    width: 70vw;
    height: 70vh;
    padding: 2em 10em 2em 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Medium Devices */
@media (min-width: 780px) and (max-width: 992px) {
    .contact_box {
        padding: 5em 2em 5em 2em;
    }
    .contact_title {
        padding-bottom: 0.5em;
        font-size: 3vw;
    }

    .contact_subtitle {
        text-align: start;
        margin-bottom: 1em;
        font-size: 2vw;
    }
}

/* Small devices */
@media (max-width: 779px) {
    .contact_container {
        min-height: fit-content;
    }
    .contact_box {
        height:fit-content;
        padding: 5em 2em 5em 2em;
    }
    .contact_title {
        padding-bottom: 1em;
        font-size: 4vw;
    }

    .contact_subtitle {
        text-align: start;
        margin-bottom: 1em;
        font-size: 2vw;
    }
}