.about_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/images/about_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.about_title {
    padding-bottom: 1em;
    font-size: 3vw;
}

.about_subtitle {
    text-align: start;
    margin-bottom: 1em;
    font-size: 1.25vw;
}

.about_box {
    background-color: #F8F0DE;
    color: #231F20;
    width: 70%;
    height: 70%;
    padding: 0 10vw 0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}