
.home_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('/images/home_image.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.nav {
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.home_main {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.check_it_out {
  margin-top: 15%;
  font-size: 1.25rem;
}

.title {
  font-size: 5rem;
}

.subtitle {
  font-size: 1.25rem;
}