.portfolio_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F8F0DE;
    color: #231F20;
    min-height: fit-content;
    padding: 2rem 2rem 10rem 2rem;
}

.portfolio_title {
    margin-top: 7rem;
    font-size: 5vw;
    text-align: left;
}

.title_container {
    display: flex;
    justify-content: flex-start;
    width: 80vw;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
  
.grid_item {
    text-align: center;
    overflow: hidden;
    aspect-ratio: 1/1;
}

.grid_image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.grid_item:hover .grid_image {
    transform: scale(1.1);
}

.grid_title {
    font-size: 1.2em;
    margin: 10px 0 5px;
    text-align: left;
}

.grid_caption {
    font-size: 1em;
    color: #666;
    text-align: left;
    padding-bottom: 3rem;
}